
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body {
    padding:5px;
}

.list {
   width: 100%;
   display:block;
   min-height:  10em;
   line-height: 2em;
   font-family: sans-serif;
   border: 1px solid #ccc;
   background: #fefefe;
}

.list li {
   min-height: 2em;
   line-height:2em;
   margin:0;
   width:100%;
   display:block;
   padding-left:.5em;
   box-sizing: border-box;
}
.placeholder {
    display:block;
    width:100%;
    height:2em;
    box-sizing:border-box;
    background-color: #fff;
    background-image: linear-gradient(45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa), 
                      linear-gradient(45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa);
    background-size:12px 12px;
    background-position:0 0, 6px 6px;
    border : 1px solid #ccc;
}

.hide {
    display: none;
}
.collapsed > ul > li {
    display:none; 
}
.collapsed > div .show{
    display:none;
}
.collapsed > div .hide{
    display:block;
}

li.over > div,
li.over > h2,
li.over > h3,
li.over > h4,
li.over > h5 {
    background: -webkit-linear-gradient(top,rgba(0,0,0,0.6),rgba(255,255,255,0)); 
    background: -o-linear-gradient(bottom,rgba(0,0,0,0.6),rgba(255,255,255,0)); 
    background: -moz-linear-gradient(bottom,rgba(0,0,0,0.6),rgba(255,255,255,0)); 
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(255,255,255,0)); 
}

.list > ul >li {
    padding-right: .5em;
} 
.list > ul >li li{
    padding-left:1em;
}
.list > ul >li ul{
   border-bottom:1px solid #eee;
}
.list > ul li:last-child > h2:last-child,
.list > ul li:last-child h3,
.list > ul li:last-child h4,
.list > ul li:last-child h5,
.list > ul li:last-child h6{
   border-bottom:none;
}
.list ul {
   list-style-type: none;
   background: transparent;
   display:block;
   box-sizing: border-box;
   width:100%;
}
.list h2,h3,h4,h5,h6 {
    display:block;
    width:100%;
    min-height:inherit;
}
.list h2:hover,
.list h3:hover,
.list h4:hover,
.list h5:hover,
.list h6:hover{
   color: #0074D9;
}
.list h2:hover .hover{
   stroke: #0074D9;
}
/*.list h2 ~ ul {
    background-color: #efefef;
    
}*/
/*.list li ul {
    border-left: 1px dotted #ccc;
    border-bottom: 1px solid #eee;
}*/

.striped > li:nth-child(even) > h2,
.striped > li:nth-child(even) > h3,
.striped > li:nth-child(even) > h4,
.striped > li:nth-child(even) > h5,
.striped > li:nth-child(even) > h6 {
    background-color: #fff;
 }
.striped > li:nth-child(odd) >  h2,
.striped > li:nth-child(odd) >  h3,
.striped > li:nth-child(odd) >  h4,
.striped > li:nth-child(odd) >  h5,
.striped > li:nth-child(odd) >  h6 {
    background-color: #f3f3f3; 
}
/*
.striped > li:nth-child(even){
    background-color: #fff;
 }
.striped > li:nth-child(odd){
    background-color: #f3f3f3; 
}*/
/*
.striped > h2:nth-child(even),
.striped > h3:nth-child(even),
.striped > h4:nth-child(even),
.striped > h5:nth-child(even),
.striped > h6:nth-child(even) {
    background-color: #fff;
 }
.striped > h2:nth-child(odd),
.striped > h3:nth-child(odd),
.striped > h4:nth-child(odd),
.striped > h5:nth-child(odd),
.striped > h6:nth-child(odd) {
    background-color: #f3f3f3; 
}*/
.striped > h2 {
    border-bottom:none;
}
.rounded > h2:last-child{
   border-bottom-left-radius:  2mm;
   border-bottom-right-radius: 2mm;
   border-bottom: none;
}
/*
.striped h1:nth-child(even),
.striped h2:nth-child(even),
.striped h3:nth-child(even),
.striped h4:nth-child(even), 
.striped h5:nth-child(even), 
.striped h6:nth-child(even) {
    background-color: #fff;
 }
.striped h1:nth-child(odd),
.striped h2:nth-child(odd),
.striped h3:nth-child(odd),
.striped h4:nth-child(odd),
.striped h5:nth-child(odd),
.striped h6:nth-child(odd) {
    background-color: #f3f3f3; 
}*/
.list h1 {
   width: 100%;
   /*min-height: 2.2em;
   line-height: 2em;
   background: #eee; */
   padding: 0 1em;
   border-bottom: 1px solid #ccc;
   text-shadow: 1px 1px 0 rgba(255,255,255,0.6) , -1px -1px 1px rgba(255,255,255,0.67) ;
   background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);   
}
.rounded {
    border-radius: 2mm;
}
 
.rounded h1:first-child {
   border-top-left-radius: 2mm;
   border-top-right-radius: 2mm;
}
.rounded > ul:last-child > li:last-child {
   border-bottom-left-radius:  2mm;
   border-bottom-right-radius: 2mm;
}

.toolbar {
    display:block;
    float:right;
}
.toolbar .right {
    margin-left:.5em;
}
.list svg.lx
{
    display: block;
    float: left;
    width: .5em;/*
    position: relative;
    left: -.5em;*/
}
/*
 .rounded ul:last-child,
 .rounded ul:last-child li:last-child,
 .rounded ul:last-child li:last-child h1,
 .rounded ul:last-child li:last-child h2,
 .rounded ul:last-child li:last-child h3,
 .rounded ul:last-child li:last-child h4,
 .rounded ul:last-child li:last-child h5,
 .rounded ul:last-child li:last-child h6,
 {
   border-bottom-left-radius:  2mm;
   border-bottom-right-radius: 2mm;
   border-bottom: none;
 }*/

/*
.list div.title {
   width: 100%;
   min-height: 2.2em;
   line-height: 2em;
   background: #eee;
   padding: 2px 1em;
   border-bottom: 1px solid #ccc;
   text-shadow: 1px 1px 0 rgba(255,255,255,0.6) , -1px -1px 1px rgba(255,255,255,0.67) ;
   background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);   
}

 .rounded h1:last-child ,
 .rounded h2:last-child, 
 .rounded h3:last-child, 
 .rounded h4:last-child, 
 .rounded h5:last-child, 
 .rounded h6:last-child {
   border-bottom-left-radius:  2mm;
   border-bottom-right-radius: 2mm;
   border-bottom: none;
 }
 
 .list h1:last-child {
   border-bottom: none;
 }
 .list h2:last-child, 
 .list h3:last-child, 
 .list h4:last-child, 
 .list h5:last-child, 
 .list h6:last-child {
   border-bottom: none;
 }


/* each heading level corresponds to the list level */
.list li > div{
    width:100% ;
    font-size: 1em;
    font-family:sans-serif;
    font-weight:normal;
    display:block;
    padding: 0;
    border-bottom: 1px solid #eee;     
}
.list li:last-child > div:last-child,
.list > ul:last-child{
   border-bottom: none;
}
.list h1,h2,h3,h4,h5,h6 {
    width:100% ;
    font-size: 1em;
    font-family:sans-serif;
    font-weight:normal;
    display:block;
    padding: 0 .5em;
    border-bottom: 1px solid #eee; 
}
.list h1 {
   padding:0 .5em;
   font-weight:bold;
   border-bottom: 1px solid #ccc; 
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: element;
}

.list i {
   height:2em;
   width:2em;
   margin-right:1em;
   display:block;
   float:left;
   border-right: 1px dotted #ddd;
   border-radius:none;
}
.list p {
    padding-left:.5em;
    height: inherit;
}
.list > h2{
    height:2em; 
    padding: 0 1em;
}
.search{
    display: none;
    height: 4em;
    padding: 1em;
    width: 100%;
    background-color: #ECF4FF;
    border-bottom: 1px solid #ccc;
}
.search > #spotlight {
    display: block;
    height: 2em;
    border-radius: 1em;
    padding: 0 1em;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
}
#spotlight:focus {
    outline: none;
    box-shadow: inset 0px 0px 3px 2px #7DBAEA; /* or whatever colour you'd prefer */
}
/*.list h2,h3,h4,h5,h6 { padding-left:0;} 
/* indentation for the levels  */
/*.list h3 i {width: 4em;}
.list h4 i {width: 6em;}
.list h5 i {width: 8em;}
.list h6 i {width: 10em;}*/

.list a,
.list span {
    display:block;
    box-sizing: border-box;
    height:2em;
    margin-right:.5em;
    float:left;
 }
 
.list .right {
    float:right;
    position: relative;
    margin-right:0;
    margin-left:0;
}
.list a img,
.list span img{
   height:2em;
   width:2em;
   margin:0 0;
   border: none;
}
.list svg{
   display:block;
   height:2em;
   width:2em;
   margin:0 0;
   float: right;
   cursor: pointer;
}
h1:hover > svg > line.action,
h2:hover > svg > line.action,
h3:hover > svg > line.action,
h4:hover > svg > line.action,
h5:hover > svg > line.action,
h6:hover > svg > line.action{
   stroke: #0074D9;
}

.list input {
   display: block;
   float: left;
   line-height: 2em;
   border-radius: 3px;
   background: transparent;
   padding: 0 5px;
   font-size: 11pt;
   width: calc(100% - 5em);
   border: 1px solid transparent;
}
.list input:hover {
   border: 1px solid #0074D9;;
}


/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: element;
}
[draggable]:hover{
    cursor: move;
}

circle.pulse {
  -webkit-animation: pulse 3s ease-out;
  -moz-animation: pulse 3s ease-out;
  animation: pulse 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: 0;
}

@-moz-keyframes pulse {
 0%   { r:  0%; opacity: 0; }
 100% { r: calc(width*.2); opacity: .7; }
}
@-webkit-keyframes pulse {
 0%   { r:  0%; opacity: 0;}
 100% { r: calc(width*.2); opacity: .7;}
}
@keyframes pulse {
   0% { r:  0%; opacity: 0; }
 100% { r: calc(width*.2); opacity: .7; }
}
